*{
	padding: 0;
	margin: 0;
}

#menu{
	height: 40px;
	background-color: #3e9a95;
}

#menu ul li{
	line-height: 40px;
	float: left;
	padding-left: 110px;
	list-style: none;
}

#menu ul li a{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}

#menu ul li a:hover{
	text-decoration: none;
	color: orange;
	cursor: pointer;
}

#search{
	padding-right: 60px;
	position: relative;
	z-index: 1;
}

#search span{
	position: absolute;
    top: 7px;
    left: 10px;
    z-index: 2;
}

#search input{
	padding-left: 30px;
}

#container{
	margin: 20px 20px 20px 100px;
}

h2{
	text-transform: uppercase;
	font-weight: bold;
}

.picture-1{
	border: 1px solid gray;
	padding: auto;
	padding-top: 20px;
	margin: 10px;
	text-align: center;
	width: 22%;
	float: left;
	background-color: #fff;
	position: relative;
}

.picture-1 img{
	width: 250px;
	height: 150px;
}

.picture-1 p{
	padding-top: 20px;

}

.picture-1 p:last-child{
	padding-top: 0px;
	color: red;
}

button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 23px;
    color: #fff;
    background-color: #de0303;
}

.picture-1:hover{
	background-color: #ecdcdc;
	cursor: pointer;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


